/* Estilos personalizados */
body {
    background-color: #f8f9fa;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Evitar que el nav se mueva */
nav {
    position: fixed; /* Fija el nav en la parte superior */
}



/* Estilo del container */
.container {
    max-width: 1000px; /* Ajustar el tamaño del formulario */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}



h1 {
    color: #000000;
    margin-bottom: 30px;
    font-size: 2.5rem;
    text-align: center;
}

.form-group label {
    font-weight: bold;
    color: #495057;
}

.form-control {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    box-shadow: none;
}

.form-control:focus {
    border-color: #000000;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

.btn-primary {
    background-color: #5a6067;
    border-color: #080808;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.form-control-file {
    border: none;
    padding: 5px;
}

.text-center {
    margin-top: 20px;
}