body {
  font-family: 'Georgia', Times, serif;
  color: #000;
}
.table {
  background-color: #000;
  color: white;
  border-collapse: collapse;
}
.table th, .table td {
  border: none; /* Elimina las líneas de las celdas */
  padding: 8px;
}
.table th {
  border-bottom: none; /* Elimina la línea debajo de los encabezados */
}
.form-control {
  position: relative;
}
.form-control i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.form-control {
  padding-left: 30px;
}


